{%extends 'base_client.html'%}
{% block title %}Accueil{% endblock %}
{% block content %}



<div class="container">
    <div class="jumbotron" wfd-id="127" mt-3 >
        <h1 class="display-3">Bienvenue dans notre site Electro-Net</h1>
        <p class="lead"> Vous trouvez tous les produits électroniques .</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="{%url 'productsGrid'%}" role="button">Tous les produits</a>
        </p>
      </div>
</div>
  
  

{% endblock %}